* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}
.container {
    width: 90vw;
    margin: 0 auto;
    height: 100%;
    color: white;
    gap: 5px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-left: 2rem;
     
 
}
 .photo img {
    width: 100%;  
    position: absolute;
    
}

.nome {
    padding: 2px 2px;
    position: absolute;
    background-color: rgb(70, 68, 68);
   bottom:1px;
    left: 0px;
}

main {
    height: calc(100% - 150px);
}

header {
    background-color: rgb(65, 62, 62);
    height: 70px;
    color: white;
    margin-bottom: 4rem;
}
.navv-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}
.gallery {
    background-color: rgb(56, 55, 55);
  
}
 li,a{
    list-style: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
    
}
.ul_1,.ul_2 ,.ul_3{
    display: flex;
    align-content: center;
    
}

.speaker {
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    padding-right: 15px;
}
button {
    padding: 1px 5px;
    border-radius: 5px;
    background-color: rgb(97, 96, 96);
    color: white;
}


.schermi {
    
    width: calc((100% / 7) - 10px);
    height: calc(55vw / 7);
   border: 1px solid white;
   position: relative;    
  
}
footer {
    background-color: rgb(65, 62, 62);
    
    margin-top: 2rem;  
}
.span-1, span i{
    display: flex;

  }  
  i {
    color: white;
    align-content: center;
  }

  .green {
    color: green;
    font-size: 30px;
  }

.fa-chevron-down {
    align-content: center;
}
.foot {
    padding: 20px;
    
}

.span-2 {
    display: flex;
      
}

p{
    color: white;
}

#id {
    color: white;
    font-size: 30px;
}

.button {
    color: red;
    background-color: rgb(140, 139, 139);
    padding: 2rem 2rem;
    font-size: 10;
}