* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}
.container {
    width: 80vw;
    margin: 0 auto;
    height: 100%;
    color: white;
    gap: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
     
 
}
 img {
    width: 100%;
    object-fit: contain;
}

main {
    height: calc(100% - 150px);
}

header {
    background-color: rgb(65, 62, 62);
    height: 70px;
}

.schermi {
    
    width: calc((100% / 7) - 10px);
    height: calc(50vw / 7);
    flex: none;
   border: 1px solid white;
   position: relative;

   
     
  
}
footer {
    background-color: rgb(65, 62, 62);
    height: 80px;
}